extends layout

block content
    h1 Lista de Jugadores
    #mostrar
        form(action="" method="")
            ul
                for val,key in iftion 
                    p #{val.name} 
                    input(type="number", name="apuesta",required )
                    
                
    div 
        button
                a(href='gamerAll/winner/') Ver