doctype html
html
  head
    title= title
    
    link( type="image/png", rel="icon", href='/images/icono.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
